<div id="home-border">
    <div id="home-intro">
        <p id="home-text-top"></p>
        <p id="home-text">이 세상의 모든 시간표</p>
        <p id="home-text">Univ T.T</p>
        <p id="home-text-bottom"></p>
    </div>
</div>