* {
	margin: 0;
	padding: 0;
}

.left-field {
	width: 200px;
	float: left;
}

#lecture-container {
	float: left;
}

#timetable {
	float: left;
	width: 600px;
	padding: 0px 10px;
}

#classroom {
	float: left;
	padding: 0px 10px;
}

#colheaders {
	padding-left: 60px;
}

#colheaders .colhead {
	float: left;
	width: 90px;
	text-align: center;
}

#table-body {
	clear: both;
	border: 1px solid;
	position: relative;
}

#classroom-body {
	clear: both;
	border: 1px solid;
	position: relative;
	overflow-x: scroll;
	overflow-y: hidden;
}

#rowheaders {
	width: 60px;
	//border: 1px solid;
	background-color: lightgreen;
}

#rowheaders .rowhead {
	border-bottom: 1px solid;
	box-sizing: border-box; // For ignoring border size
	height: 44px;
	font-size: 14px;
	text-align: right;
}

#table-grid {
	background-color: lightblue;
}


// recommend
#wishbox-wrap {
	float: left;
}

#wishlist {
	height: 400px;
	width: 300px;
	//background-color: lightblue;
	border: 1px solid;
}

.xbtn {
	cursor: pointer;
	color: red;
}

// flash
.alert-alert {
	color: #31708f;
	background-color: #d9edf7;
	border-color: #bce8f1;
}

.alert-success {
	color: #3c763d;
	background-color: #dff0d8;
	border-color: #d6e9c6;
}

.alert-error {
	color: #a94442;
	background-color: #f2dede;
	border-color: #ebccd1;
}

.alert-notice {
	color: #8a6d3b;
	background-color: #fcf8e3;
	border-color: #faebcc;
}

// mouseover event
.lecture_select {
	cursor: pointer;
}

.lecture_listed {
	cursor: pointer;
}

.lecture_wished {
	cursor: default;
}
