<p>안녕 <%= @resource.email %>!</p>

<p>비밀번호를 변경을 원할 경우, 아래의 링크를 통해 하실 수 있습니다.</p>

<p><%= link_to '비밀번호 변경', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>당신이 요청한 사항이 아니라면 이 메일을 무시해도 좋습니다.</p>
<p>당신이 위의 링크에 접속하지 않는 한 비밀번호는 변경되지 않을 것입니다.</p>
