<div class="footer">
	<div class="socials">
		<a href="https://www.facebook.com/univtt/">
			<img src="/images/facebook-icon.png">
		</a>
	</div>
	<div class="about">
		<a href="https://www.facebook.com/univtt/">문의하기</a>
		<strong style="color: #FA6900;"> | </strong>
		<a href="https://www.facebook.com/univtt/">스토리</a>
	</div>
	<div class="contact">
		<%= mail_to 'info@univtt.com' %>
	</div>
</div>
